* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

#header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #f4f2f2;
  padding: 14px 0;
  border: 1px solid rgba(0,0,0,0.02);
}

#navbar {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 8px 28px;
}
.menu {
  display: flex;
  gap: 24px;
  list-style: none;
  padding-left: 0;
  margin: 0; 
}

.menu li {
  margin: 0;
}
.menu a,
.nav-item {
  text-decoration: none;
  color: #111827;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.1;
}

.menu a:hover,
.nav-item:hover {
  color: #ff4d4d;
  font-style: italic;
  cursor: pointer;
}

.logo {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.logo-img {
  width: 120px;
  height: 52px;
  object-fit: cover;
  border-radius: 10px;
}








.order-container {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  text-align: center;
}

.order-container h1 {
  font-size: 36px;
  font-weight: 700;
  color: #111827;
  margin-bottom: 10px;
}

.order-container p {
  font-size: 16px;
  color: #374151;
  line-height: 1.4;
  margin-bottom: 24px;
}

.app-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.app-btn {
  padding: 12px 18px;
  background-color: #ff4d4d;
  color: #ffffff;
  text-decoration: none;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 700;
}

.app-btn:hover {
  background-color: #ff6a5a;
}
